body {
  height: 100%;
}

body {
  background-color: #1f8b4c;  
  font-family: 'Gotham';
  color: white
}

a {
  text-decoration: none;
  color: mediumblue;
}

/* Center an image
img {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
*/

.box {
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.box h3 {
  color: white;
  padding: 10px 0;
  font-size: 20px;
}

.box p {
  color: white;
  font-size: 14px;
  line-height: 1.6;
}

.summary {
  font-size: 20px
}

.bubble {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  width: 130px;
  background: blue;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: white;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid blue;
  border-right: 12px solid transparent;
  border-top: 12px solid blue;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.d {
  text-indent: 15px
}

.bubble2 {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  width: 230px;
  background: blue;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: white;
}

.bubble2-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid blue;
  border-right: 12px solid transparent;
  border-top: 12px solid blue;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.bubble3-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid blue;
  border-right: 12px solid transparent;
  border-top: 12px solid blue;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.bubble3 {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  width: 380px;
  background: blue;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: white;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/gotham-medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/gotham-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('fonts/gotham-medium.woff') format('woff'), /* Modern Browsers */
     url('fonts/gotham-medium.ttf')  format('truetype'); /* Safari, Android, iOS */
   font-weight: 400;
   font-style: normal;
}

#bottom {
  position: absolute;
  bottom: -400;
  width: 100%;
  color: white;
  padding: 0px 0;
  text-align: center;
  font-size: 20
}

#bottom2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 0px 0;
  text-align: center;
  font-size: 20
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}