body {
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-animation: background 40s cubic-bezier(1,0,0,1) infinite;
  animation: background 40s cubic-bezier(1,0,0,1) infinite;  
}

img {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes background {
  0% { background-color: cornsilk }
  10% { background-color: darkmagenta; }  
  20% { background-color: fuchsia; }
  30% { background-color: floralwhite; }
  40% { background-color: cyan; }
  50% { background-color: honeydew; }  
  60% { background-color: hotpink; }
  70% { background-color: palegreen; }
  80% { background-color: mistyrose; }
  90% { background-color: lightgoldenrodyellow; }
  100% { background-color: azure; }
}

@keyframes background {
    0% { background-color: rgb(236, 222, 163) }
  10% { background-color: darkmagenta; }  
  20% { background-color: fuchsia; }
  30% { background-color: rgb(0, 255, 64); }
  40% { background-color: cyan; }
  50% { background-color: honeydew; }  
  60% { background-color: hotpink; }
  70% { background-color: palegreen; }
  80% { background-color: mistyrose; }
  90% { background-color: lightgoldenrodyellow; }
  100% { background-color: azure; }
}

#bottom {
  position: absolute;
  bottom: 1;
  width: 100%;
  color: black;
  padding: 0px 0;
  text-align: center;
  font-weight: 900;
  font-size: 120
}
